<header class="welcome-msg">
  <h1>Bienvenido a T-Magna Soda Store</h1>
  <p>Detalles del producto seleccionado:</p>
</header>
<main>
  <%- include('./partials/productCards') %>
  <div class="btn-regresar-home">
    <a href="http://<%= host %>/products">REGRESAR</a>
  </div>
</main>