<header class="welcome-msg">
  <h1>Bienvenido a T-Magna Soda Store</h1>
  <p>Conóce nuestra gama de productos:</p>
</header>
<main>
  <%- include('./partials/pagination') %>

  <%- include('./partials/productCards') %>

  <%- include('./partials/pagination') %>
</main>