<section class="pagination">
  <a href="http://<%= prevLink %>"  class="prev-btn">PREVIOUS</a>
  <p class="actual-page">PAGE: <%= page %></p>
  <a href="http://<%= nextLink %>" target="_self" class="next-btn">NEXT</a>
</section>